{{#link-to "resume" resume}}<a class="item">
    Home
  </a>{{/link-to}}
{{#link-to "resume.experiences" resume}}<a class="item">
    Experience
  </a>{{/link-to}}
{{#link-to "resume.skills" resume}}<a class="item">
    Skills
  </a>{{/link-to}}
{{#link-to "resume.contact" resume}}<a class="item">
    Contact
  </a>{{/link-to}}
