<div class="content">
  <i class="right floated pencil alternate icon"></i>
  {{#link-to "resume" resume class="header"}}
    {{resume.firstName}} {{resume.lastName}}
  {{/link-to}}
  <div class="meta">
    Last Updated: (to be last updated)
  </div>
  <div class="description">
    {{resume.description}}
  </div>
</div>
