<div class="content">
  <i class="right floated pencil alternate icon"></i>
  <a class="header" href="#">
    {{resume.firstName}} {{resume.lastName}}
  </a>
  <div class="meta">
    Last Updated: (to be last updated)
  </div>
  <div class="description">
    {{resume.description}}
  </div>
</div>
