<h3 class="ui center aligned icon header">
  {{resume.firstName}}'s Contact Information
</h3>
<div class="ui divider"></div>
<div class="ui segment">
  <div class="ui label">
    <i class="mail icon"></i> {{resume.user.email}}
  </div>
</div>
