<h2 class="ui center aligned icon header">
  Skills
</h2>
{{#if isOwner}}
  {{skill-creation-button createSkill=(action "createSkill")}}
{{/if}}
<div class="ui divider"></div>
<br> {{skill-cards skills=skills isOwner=isOwner}}
