{{#link-to "dashboard"}}
  <div class="item">
    <i class="dashboard icon"></i>
  </div>
{{/link-to}}
{{yield}}
<div class="ui secondary right menu">
  {{#if session.isAuthenticated}}
    <a {{action signOut}} class="item">Sign Out</a>
  {{else}}
    <a {{action signIn "google"}} class="item">Sign In</a>
  {{/if}}
</div>
